/*---------------------------------------------------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  2012                                  |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
Build  : _269d0ffd5c-20210619 OPENFOAM=2012 patch=210618
Arch   : "LSB;label=32;scalar=64"
Exec   : postProcess -func sample
Date   : Jun 06 2022
Time   : 19:05:11
Host   : gabrielmarconcini-Lenovo-G50-80
PID    : 21660
I/O    : uncollated
Case   : /home/gabrielmarconcini/Documentos/TCC/PTCC/Bump/mhdPimpleFoam/sim1
nProcs : 1
trapFpe: Floating point exception trapping enabled (FOAM_SIGFPE).
fileModificationChecking : Monitoring run-time modified files using timeStampMaster (fileModificationSkew 5, maxFileModificationPolls 20)
allowSystemOperations : Allowing user-supplied system call operations

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
Create time

Create mesh for time = 0

Sampled surface:
    lowerWall -> vtk
    upperWall -> vtk

Time = 0
--> FOAM Warning : 
    From virtual bool Foam::functionObjects::fieldSelection::checkSelection()
    in file functionObjects/fieldSelections/fieldSelection/fieldSelection.C at line 166
    Field Ma not found
--> FOAM Warning : 
    From virtual bool Foam::functionObjects::fieldSelection::checkSelection()
    in file functionObjects/fieldSelections/fieldSelection/fieldSelection.C at line 166
    Field mag(U) not found

Reading fields:
    volScalarField: T p

Executing functionObjects
--> FOAM Warning : 
    From void Foam::sampledSurfaces::countFields()
    in file sampledSurface/sampledSurfaces/sampledSurfaces.C at line 138
    
Cannot find registered field matching 2(mag(U) Ma)

Time = 0.100179519

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.1999908014

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.2999514253

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.399952849

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.5000645533

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.6000284192

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.699992961

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.8000164283

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.899995107

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

Time = 0.999958399

Reading fields:
    volScalarField: Ma T mag(U) p

Executing functionObjects

End

